* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*style n logo area*/
.social-part {
	position: absolute;
	left: 2%;
	font-size: 30px;

}

.logobackground {
	position: relative;
	height: 100px;
}


/*end of logo area*/

/*style on navbar*/
.nav-item::after{
	content:'';
	display:block;
	width:0px;
	height:2px;
	background:#fec400;
	transition: 0.2s;}

.nav-item:hover::after{
	width:100%;}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.nav-link{
	padding:15px 5px;
	transition:0.2s;}

.dropdown-item.active, .dropdown-item:active{
	color:#212529;}

.dropdown-item:focus, .dropdown-item:hover{
	background:#fec400;}

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

li {
	margin: 0 2px;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
/*end of navbar*/

/*start of carousel*/
.carousel-item img {
	height: 550px;
}

header .carousel-inner .item {
	height: 100vh;
}

.carousel-caption {
	padding-bottom: 250px;
	font-size: 20px;
}

.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}


